@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(9 9 11);
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	padding-bottom: 60px;
}

a {
	text-decoration: none;
	color: white;
}

p {
	line-height: 1.7;
}

ul {
	list-style: none;
}

li {
	line-height: 2.2;
}

h1,
h2,
h3 {
	font-weight: 600;
	margin-bottom: 10px;
	color: white;
}
.logo {
	color: white;
	font-size: 1.2rem;
}
.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 60px;
}

.header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul li {
	margin-left: 20px;
}

.header ul li a {
	display: flex;
	align-items: center;
}

.header ul li a:hover {
	color: #777;
}

.header ul li a svg {
	margin-right: 5px;
}

.heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0 20px;
}

.heading p {
	color: #828282;
}

.goals {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

:root {
	--custom-color: 23, 23, 23;
	--custom-opacity: 0.5;
}

.goal-wrapper {
	animation: fade 0.8s;
	transition: all 0.5s ease;
	position: relative;
	display: block;
	overflow: hidden;
}
.goal-wrapper:hover {
	box-shadow: 0 0 2rem -0.5rem #fff8;
}

.goal-wrapper.hidden,
.goal-wrapper.hidden::after,
.goal-wrapper.hidden::before {
	opacity: 0;
}

.goal-wrapper::after,
.goal-wrapper::before {
	content: "";
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}

.goal-wrapper::after {
	top: 1px;
	left: 1px;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	background-color: rgb(var(--custom-color));
}
.goal-wrapper:hover.goal-wrapper::after {
	background-color: #000;
}
.goal-wrapper::before {
	z-index: -1;
	top: 0;
	left: 0;
	background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1), #fff, hsla(0, 0%, 100%, 0.3));
	animation: gradient 5s linear infinite reverse;
	border-radius: inherit;
}

/* .goal-wrapper:nth-child(2).goal-wrapper::before {
} */
@keyframes gradient {
	0% {
		transform: rotate(0deg) scale(3);
	}

	100% {
		transform: rotate(360deg) scale(3);
	}
}
.goal {
	position: relative;
	z-index: 3;
	height: 100%;
	border-radius: 6px;
	color: white;
	padding: 60px 30px 20px 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media only screen and (max-width: 600px) {
	.goals {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
}
.goal h2 {
	font-weight: 600;
}
.goal small {
	margin-top: 40px;
}
.goal .close {
	position: absolute;
	z-index: 4;
	top: 6px;
	right: 6px;
	cursor: pointer;
	border: none;
	background: transparent;
}
.close svg {
	fill: white;
	width: 30px;
	height: 30px;
}
.close svg:hover {
	animation: rotate 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes rotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 180deg;
	}
}
.form,
.content {
	width: 70%;
	margin: 0 auto;
}
@media only screen and (max-width: 756px) {
	.form,
	.content {
		width: 100%;
		margin: 0 auto;
	}
}
.content {
	margin-top: 80px;
}
.form-group {
	margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
	transition: all 0.3s ease-in-out;
	width: 100%;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
	font-family: inherit;
	color: white;
	outline: none;
	background-color: rgb(23, 23, 23);
}
.form-group input:focus {
	border: 1px solid #3d98fa;
}
.form-group label {
	text-align: left;
	display: block;
	margin: 0 0 5px 3px;
}

.btn {
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #3d98fa;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	appearance: button;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login,
.register {
	font-size: 2.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	font-size: 1.6rem;
}
.loign svg,
.register svg {
	margin-right: 10px;
}
.btn svg {
	margin-right: 8px;
}

.btn-reverse {
	background: #fff;
	color: #000;
}

.btn-block {
	width: 100%;
	margin-bottom: 20px;
}

.spinner-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.spinner {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: conic-gradient(#0000 10%, #000);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
	animation: spinning 1.5s infinite linear;
}
@keyframes spinning {
	to {
		transform: rotate(1turn);
	}
}
@media (max-width: 600px) {
	.heading h1 {
		font-size: 2rem;
	}

	.heading p {
		font-size: 1.5rem;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main-heading {
	display: flex;
	justify-content: center;
	color: white;
}

.intro > span {
	--delay: 0.05s;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	animation: reveal 0.5s forwards;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	display: inline-block; /* Ensure each span is treated as a block element */
}

.intro > span:nth-child(1) {
	animation-delay: calc(var(--delay) * 0);
}
.intro > span:nth-child(2) {
	animation-delay: calc(var(--delay) * 1);
}
.intro > span:nth-child(3) {
	animation-delay: calc(var(--delay) * 2);
}
.intro > span:nth-child(4) {
	animation-delay: calc(var(--delay) * 3);
}
.intro > span:nth-child(5) {
	animation-delay: calc(var(--delay) * 4);
}
.intro > span:nth-child(6) {
	animation-delay: calc(var(--delay) * 5);
}
.intro > span:nth-child(7) {
	animation-delay: calc(var(--delay) * 6);
}

@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(10px);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		transform: translateY(0px);
	}
}

.name {
	color: #3d98fa;
	--delay: 0.45s;
	opacity: 0;
	animation: reveal2 0.8s forwards;
	transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	display: inline-block;
	animation-delay: var(--delay);
}

@keyframes reveal2 {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
